<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143561662659-0gvfnb3je1ur3fj4vmc4q2vc57c0mjtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143561662659-0gvfnb3je1ur3fj4vmc4q2vc57c0mjtd</string>
	<key>API_KEY</key>
	<string>AIzaSyAyI4aKtdYu8yvmdHpkN7ilXi7wc1Nhx68</string>
	<key>GCM_SENDER_ID</key>
	<string>143561662659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Techinator.Techinator-Showcase</string>
	<key>PROJECT_ID</key>
	<string>techinator-showcase</string>
	<key>STORAGE_BUCKET</key>
	<string>techinator-showcase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:143561662659:ios:8fbd09bff515da8b</string>
	<key>DATABASE_URL</key>
	<string>techinator-showcase.firebaseio.com
</string>
</dict>
</plist>
